@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

#head1{font-family: 'Dancing Script', cursive;}

#text1{font-family: 'Quicksand', sans-serif;
font-size: 20px;}

#password-icon{font-size: 16px;}

#root{display: none;}

/*for laptops and above*/
@media screen and (min-width: 1000px) {
    #verify,#reset,#updated{
        display: block;
        width: 50%;
    }
}