@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body{display: none;}

#head1{font-family: 'Dancing Script', cursive;}

p{font-size: 16px;}

#text1{font-family: 'Quicksand', sans-serif;
font-size: 20px;}

/*for laptops and above*/
@media screen and (min-width: 950px) {
    #main{
        display: block;
        width: 50%;
    }
}